// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: green;
  margin-left: 20px;
}

.div1 {
  border-left: 3px solid grey;
  margin: 20px;
  width: 50%;
  padding: 20px;
}

.div2 {
  border-left: 3px solid grey;
  background-color: bisque;
  margin: 20px;
  width: 50%;
  padding: 20px;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
